.rdrCalendarWrapper {
    width: 100%;
}

.rdrDateDisplayWrapper {
    background: none;
}

.rdrMonths {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    background: #f9fafc;
}

.rdrMonth {
    height: 500px;
}

.rdrDays {
    height: 400px;
}

.addPeriodSubmitButton {
    position: absolute;
    bottom: 5px;
    border-radius: 20px;
    border: 2px solid black;
    font-size: 15px;
    font-weight: bold;
}