.title_oval {
    position: fixed;
    left: 80px;
}

.top_input_box {
    border-bottom: 1px solid lightgray;
}

.add_btn {
    position: fixed;
    right: 0;
}

input::placeholder {
    color: orange;
}

#postItCategoryInput {
    border: 1px solid black;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    background: none;
    padding: 10px;
    box-sizing: border-box;
}

#postItCategoryInput::placeholder {
    color: black;
}