.title_oval {
    position: fixed;
    left: 80px;
}

.top_input_box {
    border-bottom: 1px solid lightgray;
}

.add_btn {
    position: fixed;
    right: 0;
}

input::placeholder {
    color: orange;
}