* {
    margin: 0;
}

.hidden {
    visibility: hidden;
}

.login_wrapper {
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
}

.login_title {
    text-align: left;
    font-size: 18px;
    letter-spacing: -1px;
}

.login_email {
    margin-top: 18px;
}

.login_email input {
    border: none;
    width: 100%;
    height: 22px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.login_email input:focus {
    outline: none;
}

.login_password {
    position: relative;
    height: 22px;
}

.login_password_input {
    z-index: 1;
    width: 100%;
    border: none;
    padding-top: 13px;
    padding-bottom: 13px;
}

.login_password_input:focus {
    outline: none;
}

.login_password img {
    z-index: 2;
    position: absolute;
    right: 0;
    width: 20px;
    margin-left: 1px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.login_info_text {
    position: relative;
    margin-top: 20px;
    color: orange;
}

.login_info_text p {
    padding-top: 10px;
    position: relative;
    color: orange;
    font-size: 13px;
}

.login_form_submit_button {
    position: relative;
    z-index: 1;
    margin-top: 30px;
    height: 52px;
    box-shadow: none;
    border: none;
}

.login_form_submit_button_text {
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    letter-spacing: -2px;
}

.login_form_submit_button img {
    width: 20px;
    margin-right: 10px;
    height: 20px;
    float: left;
}

.login_form_submit_button input {
    width: 100%;
    height: 100%;
    box-shadow: none;
    outline: none;
    border: 2px solid #ededf2;
    border-radius: 26px;
    background: white;

}


.findAndJoinBtnWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 18px;
}

.findPasswordBtn {
    float: left;
    font-size: 14px;
    color: #888c99;
}

.findAndJoinBtnWrapper hr {
    float: left;
    height: 10px;
    width: .1vh;
    margin-left: 10px;
    margin-right: 10px;
    border-width: 0;
    background-color: #d9dbe0;
}

.joinWithEmailBtn {
    font-size: 14px;
}

.socialLoginText {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 45px;
    font-size: 13px;
    color: #888c99;
}

.socialLoginBtnWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 11px;
}

.googleLoginBtn {
    float: left;
}

.naverLoginBtn {
    float: left;
    margin-left: 14px;
    margin-right: 14px;
}