.toast-alert {
    background-color: rgba(255, 127, 80, 0.4);
    border: 1px solid rgba(255, 127, 80, 0.1);
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    height: 25px;
    width: 250px;
    padding: 5px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 60px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.toast-alert p {
    margin: 0;
}